* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
    overflow: hidden;
}

header {
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(255,114,94);
}

header .logo {
    height: 40px;
    cursor: pointer;
}

ul {
    display: flex;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

ul li a::after {
    content: '';
    height: 6px;
    width: 0;
    border-radius: 5px;
    background-color: rgb(255,114,94);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: .2s;
}

ul li a:not(.signup-btn):hover::after {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

main .background {
    max-width: 600px;
    height: auto;
}

.content-left {
    width: 40%;
    padding: 0 20px;
}

main h1 {
    font-size: 50px;
    color: rgb(31, 31, 31);
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color: rgb(255,114,94);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;    
}

main p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(31, 31, 31);
    line-height: 32px;
    margin: 30px 0;
}

main .cta {
    padding: 15px 50px;
    background-color: rgb(255,114,94);
    border: none;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

nav .signup-btn {
    padding: 10px 30px;
    background-color: rgb(255,114,94);
    border: none;
    border-radius: 50px;
    outline: none;
    font-weight: 700;

}


